/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
  --text-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --menu-button-color-hover: #f1b2ce;
  --menu-button-color-active: var(--menu-button-color);
  --decorated-zone: var(--menu-button-color);
  --headers-color: #ff0070;
  --main-header: #db00ff;
   --title-h2-color: #FF0070;
    --text-block-link:#FF0070;
}

.page.theme_dark .header__rec {
  opacity: 1;
  visibility: visible;
}

.page.theme_dark .title-decor {
  background-color: var(--headers-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #353430;
}

.page.theme_dark .title-decor-light {
  background-color: var(--headers-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  color: #353430;
}

.text.block__link {
  text-shadow: var(--text-block-link); 
}
